.ansCard:hover{
  cursor: pointer;
}
.ansCard{
  background-color: #22222F;
}
.mainContainer {
  background-color: #2B2B37;
  color: white;
  font-family: 'Niramit', sans-serif;
  min-height: 100vh;
}
